.board {
	background: #3686BE;
	border-radius: 10px;
	display: inline-block;
	padding: 15px;
}
 table {
	border-collapse: separate;
  border-spacing: 10px 5px;
 }

.circle {
	height: 100px;
	width: 100px;
	background: white;
	border-radius: 50px;
}

.circle-red {
	background: #990000;
}
.circle-black {
	background: black;
}
.circle:hover {
	background: #F5F5DC;
}

.control {
	float: right;
	display: inline-block;
	background: #d3d3d3;
	height: 661px;
	margin-right: 150px;
	width: 400px;
	border-radius: 10px;
}

button {
	position: relative;
	left: 150px;
	top: 400px;
	height: 40px;
	width: 100px;
	border-radius: 10px;
	background: #cd3a3e;
	font-size: 25px;
}
.winner {
	background: green;
}